<div class="row">
    <div class="col-12 col-md-4 text-left">
        <h4>Example 1</h4>
        <p><strong>Input:</strong> height:10, width:11</p>
        <p><strong>Output:</strong></p>
        <div class="ascii-art">
     x
    x x
   x   x
  x     x
 xxxxxxxxx
 x       x
 x       x
 x       x
=x=======x=
|xxxxxxxxx|
        </div>
    </div>
    <div class="col-12 col-md-4 text-left">
        <h4>Example 2</h4>
        <p><strong>Input:</strong> height:10, width:7</p>
        <p><strong>Output:</strong></p>
        <div class="ascii-art">
   x
  x x
 xxxxx
 x   x
 x   x
 x   x
 x   x
 x   x
=x===x=
|xxxxx|
        </div>
</div>
    <div class="col-12 col-md-4 text-left">
        <h4>Example 3</h4>
        <p><strong>Input:</strong> height:5, width:7</p>
        <p><strong>Output:</strong></p>
        <div class="ascii-art">
   x
  x x
 xxxxx
=x===x=
|xxxxx|
        </div>
</div>
</div>