<div class="row">
    <div class="col-12 text-justify">
        <h4>Inputs:</h4>
        <div>
            <strong>Text:</strong> foo bar (foo) bar foo-bar foo_bar foo'bar bar-foo bar, foo.
        </div>
        <div>
            <strong>Word:</strong> foo
        </div>
        <div>
            <strong>Brackets:</strong> ()
        </div>
        <br>
        <h4>Outputs:</h4>
        <div>
            <strong>Count:</strong> 7
        </div>
        <div>
            <strong>First occurrence:</strong> 0
        </div>
        <div>
            <strong>Count enclosed:</strong> 1
        </div>
    </div>
</div>