<p class="mb-5 text-justify">
    In this challenge, you are required to draw a small cabin out of unicode characters. You will be given two parameters
    <strong>width</strong> (odd number in range &lt5, 49 &gt) and <strong>height</strong> (number in range &lt5, 50 &gt). Based on these
    inputs you are required to draw a log cabin with a fence that will be <strong>width</strong> characters wide
    and <strong>height</strong> lines tall, the fence should always be 2 lines high with a supporting beam on each sides of the cabin.
    To make it a challenge, the goal is to build it as <strong>fast</strong> as possible.
</p>
<div class="row">
    <div class="col-12 col-md-4 text-left">
        <h4>Example 1</h4>
        <p><strong>Input:</strong> height:10, width:11</p>
        <p><strong>Output:</strong></p>
        <div class="ascii-art">
     x
    x x
   x   x
  x     x
 xxxxxxxxx
 x       x
 x       x
 x       x
=x=======x=
|xxxxxxxxx|
        </div>
    </div>
    <div class="col-12 col-md-4 text-left">
        <h4>Example 2</h4>
        <p><strong>Input:</strong> height:10, width:7</p>
        <p><strong>Output:</strong></p>
        <div class="ascii-art">
   x
  x x
 xxxxx
 x   x
 x   x
 x   x
 x   x
 x   x
=x===x=
|xxxxx|
        </div>
</div>
    <div class="col-12 col-md-4 text-left">
        <h4>Example 3</h4>
        <p><strong>Input:</strong> height:5, width:7</p>
        <p><strong>Output:</strong></p>
        <div class="ascii-art">
   x
  x x
 xxxxx
=x===x=
|xxxxx|
        </div>
</div>
</div>