{% extends "base.html" %}
{% load static %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block menu-items %}
{% endblock %}

{% block masthead %}
{% if object.is_timed %}
<div class="masthead masthead-small bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-subheading">Time remaining</h1>
        <div id="clockdiv">
            <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'challenge_detail' object.slug %}" method="POST">
    {% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for input in form.fields.challenge_input.value %}
    {{ input }}
    {% endfor %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock %}


{% block js %}
{% if object.is_timed %}
{{ object.time_limit_in_minutes |json_script:"time-limit-in-minutes" }}
{% endif %}
<script src="{% static 'js/challenge.js' %}"></script>
{% endblock %}